doctype html
html
  head
    include gtag.html
    title The stargazers chart for a GitHub repo
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Signika:400,700')
    block styles
    link(rel='stylesheet', href='/css/style.css')
  body
    .container
      .logo
        a(href='/') stargazers.app
      block content

    block scripts
