doctype html
html
  head
    title The stargazers chart for a GitHub repo
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Signika:400,700')
    link(rel='stylesheet', href='/css/style.css')
    block styles
  body
    .container
      .home
        h1 stargazers.app
        block content

    block scripts
